@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~typeface-league-spartan/index.css';

* {
    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: #F2F2F2;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
