@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~typeface-league-spartan/index.css';

* {
    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: #F2F2F2;
    margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footerDoubleBg {
    background: linear-gradient(
        to right,
        #eeeff4 0%,
        #eeeff4 90%,
        #F2F2F2 90%,
        #F2F2F2 100%
    ); 
}
@media (max-width: 640px) {
    .footerDoubleBg {
        background: linear-gradient(
            to top,
            #eeeff4 0%,
            #eeeff4 85%,
            #F2F2F2 85%,
            #F2F2F2 100%
        ); 
    }
}
